.title-container {
  margin-left: 200px;
  padding: 10px 15px;
  color: #3B3B3E;
  font-size: large;
}

p {
  text-align: center;
  font-size: 12px;
  margin: 20px 0 20px 0;
}

p span {
  display: block;
  font-size: 28px;
}